<h1>Paginated History list</h1>

<select
        bmb-use="paginatedHistoryListModel"
        ng-change="paginatedHistoryListModel.setPageSize(pageSize)"
        ng-model="pageSize">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="100">100</option>
</select>


<pagination
            bmb-use="paginatedHistoryListModel"
            ng-model="paginatedHistoryListModel.pageNumber"
            total-items="paginatedHistoryListModel.totalCount"
            items-per-page="paginatedHistoryListModel.pageSize"
            previous-text="&laquo;"
            next-text="&raquo;"
            max-size="5"
            ng-change="paginatedHistoryListModel.loadPage(paginatedHistoryListModel.pageNumber)"
            ng-show="!paginatedHistoryListModel.loading"
            ng-class="{'loading': paginatedHistoryListModel.loading}">
</pagination>

<rs-history-list view-model="'paginatedHistoryListModel'"></rs-history-list>
