<div style="margin: 20px; border: 1px dotted grey; padding: 0 10px 10px; float: right;">
    <h1>Restore password</h1>

    <div style="color: red; border: 1px dotted red; padding: 10px; margin-bottom: 20px;" ng-show="error">
        {{error}}</div>

    <div style="color: green; border: 1px dotted green; padding: 10px; margin-bottom: 20px;" ng-show="success">
        Password reset instructions has been sent to {{password.username}}</div>

    <label>{{usernameFieldLabel}}:</label>
    <input type="text" ng-model="params.username" />

    <hr/>

    <button ng-click="requestPassword()">{{sendPasswordLabel}}</button>
    <button bmb-use="bmbPopups" ng-click="cancel()" ng-show="showCancelButton()">{{cancelLabel}}</button>

</div>